<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="Produccion" connectionString="" providerName="System.Data.SqlClient" />
    <add name="Prueba" connectionString="" providerName="System.Data.SqlClient" /> 
    <!--<add name="SQL" connectionString="Data Source=172.20.92.20;Initial Catalog=Temporal;User ID=sa;Password=laganga_2011;Pooling=True" providerName="System.Data.SqlClient" />-->
    <add name="SQL" connectionString="Data Source=swissap;Initial Catalog=SAM;User Id=userapp;Password=swissoil2013;" providerName="System.Data.SqlClient" />
  </connectionStrings>

	<appSettings>
		
    <add key="ConnectionStringResponse" value="http://www.google.com"/>
    <add key="ConnectionStringProduccion" value="Produccion"/>
    <add key="ConnectionStringPrueba" value="Prueba"/>
    <add key="ConnectionStringSQL" value="SQL"/>
    <add key="ConnectionStringDQB" value="V64TESTFEC"/>
    <add key="ConnectionStringDNS" value="AS400new"/>
    <add key="ConnectionStringDQBPRUEBA" value="V64TESTFEC"/>
    
    <add key="MotorDB2_Odbc" value="DB2_ODBC"/>
    <add key="MotorSQL_Server" value="SQL_SERVER"/>
    <add key="MotorOrigen" value="DB2_ODBC"/>
    <add key="MotorOrigen2" value="SQL_SERVER"/>
    <add key="TipoPrueba" value="false"/>
    <add key="UID" value="ruanotv6"/>
    <add key="PWD" value="TUQ2LIZ7"/>
    <add key="PROCESS01" value="V64PGMRJEC"/>

	<add key="PROCESOBUSQUEDA1" value="SELECT A.IXITEM ,A.IXPROD, B.IDESC, B.IDSCE, B.IREF01, B.IREF05 FROM EIXL01 A LEFT JOIN  IIML01 B ON A.IXPROD=B.IPROD WHERE A.IXCUST =609 AND B.IDESC IS NOT NULL AND A.IXITEM = @W8CODREAD ORDER BY  IXITEM   "/>
	<add key="PROCESOBUSQUEDA2" value="SELECT A.IXITEM ,A.IXPROD, B.IDESC, B.IDSCE, B.IREF01, B.IREF05  FROM EIXL01 A LEFT JOIN IIML01 B ON A.IXPROD=B.IPROD WHERE B.IDESC IS NOT NULL AND A.IXITEM = @W8CODREAD ORDER BY  IXPROD   "/>
	<add key="PROCESOBUSQUEDA3" value="SELECT IID, IPROD, IDESC FROM IIML01 WHERE IPROD = @W8CODREAD"/>
	<add key="PROCESOBUSQUEDAORDEN" value="SELECT A.SORD, A.SPROD, B.IDESC, B.IDSCE, B.IREF01, B.IREF02 FROM FSOL01 A LEFT JOIN  IIML01 B ON A.SPROD=B.IPROD WHERE A.SORD = @W8ORDENP AND A.SPROD=@W8CODPROD"/>
	<add key="PROCESOLISTASIMPLE" value="SELECT a.sord,   a.sprod, c.idesc, b.mseq, b.mprod , d.idesc, e.BSEQ,   e.BCHLD, e.idesc, f.BSEQ, f.BCHLD, f.idesc FROM fsol01 a left join  fmal01 b on a.sord=b.mord left join  iiml01 c on a.sprod=c.iprod left join  iiml01 d on b.mprod=d.iprod left join (SELECT BPROD, BSEQ, BCHLD, IDESC, IREF01 FROM  mbml01 z left join iiml01 y on z.bchld=y.iprod) e on b.mprod = E.BPROD left join (SELECT BPROD, BSEQ, BCHLD, IDESC, IREF01 FROM  mbml01 z left join  iiml01 y on z.bchld=y.iprod) f on e.bchld = f.BPROD WHERE A.SORD =  @W8ORDENP ORDER BY b.mseq, e.bseq, f.bseq"/>
	<add key="PROCESOINSERCION" value="INSERT INTO TCVS (TCNROP, TCDPRO, TCDEIX, TCDADI, TCUSRP, TCFPRO, TCHPRO, TCRESP) VALUES(?, ?, ?, ?, ?, ?, ?, ?)"/>
	</appSettings>
</configuration>
			
